<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>BankApp</title>
    <link rel="stylesheet" th:href="@{css/style.css}" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <div id="logo">НизатрумБанк</div>
    <div class="toMain">
        <a id="homeId" href="/">На главную</a>
    </div>
    <div class="toMain">
        <div id="currentUsername" th:text="${username}"></div>
        <a id="logoutId" href="/logout">Выход</a>
    </div>
</header>
<main>
    <div class="titleBlock">Блок работы с клиентами</div>
    <div id="methods">
        <div class="fragmentForInputs" id="create">
            <form method="post" action="/client/create" th:object="${client}">
                <div id="createClientBlock" class="titleBlock">Создание клиента</div>
                <input id="email" type="email" name="email" placeholder="Email" required/>
                <input type="text" name="username" placeholder="Логин" required/>
                <input type="password" name="password" placeholder="Пароль" required/>
                <input type="text" name="name" placeholder="Имя" required/>
                <input type="text" name="surname" placeholder="Фамилия" required/>
                <input type="text" name="patronymic" placeholder="Отчество"/>
                <input type="submit" value="Создать"/>
            </form>
        </div>
        <div class="fragmentForInputs" id="get">
            <form method="get" action="/client/get" th:object="${client}">
                <div id="getClientBlock" class="titleBlock">Получение клиента</div>
                <input id="inputId" type="number" name="id" placeholder="Id" required/>
                <input id="getClientButton" type="submit" value="Получить информацию"/>
            </form>
        </div>
        <div class="fragmentForInputs" id="update">
            <form method="post" action="/client/update" th:object="${client}">
                <div id="updateClientBlock" class="titleBlock">Обновление клиента</div>
                <input id="updateId" type="number" name="id" placeholder="Id"/>
                <input id="updateName" type="text" name="name" placeholder="Имя"/>
                <input id="updateSurname" type="text" name="surname" placeholder="Фамилия"/>
                <input id="updatePatronymic" type="text" name="patronymic" placeholder="Отчество"/>
                <input id="updateButton" type="submit" value="Обновить"/>
            </form>
        </div>
        <div class="fragmentForInputs" id="delete">
            <form method="post" action="/client/delete" th:object="${client}">
                <div id="deleteClientBlock" class="titleBlock">Удаление клиента</div>
                <input type="number" name="id" placeholder="Id" required/>
                <input type="submit" value="Удалить"/>
            </form>
        </div>
    </div>

    <div id="responseBlock">
        <div class="titleBlock">Блок информативных сообщений</div>
        <div id="responseContent">
            <div id="errorMsg" th:text="${msg}"></div>
            <div id="infoClient">
                <div class="dataClient">
                    <div>Id: </div>
                    <div id="idField" th:text="${client?.id}"></div>
                </div>
                <div class="dataClient">
                    <div>Email: </div>
                    <div id="emailField" th:text="${client?.email}"></div>
                </div>
                <div class="dataClient">
                    <div>Логин: </div>
                    <div id="usernameField" th:text="${client?.username}"></div>
                </div>
                <div class="dataClient">
                    <div>Имя: </div>
                    <div id="nameField" th:text="${client?.name}"></div>
                </div>
                <div class="dataClient">
                    <div>Фамилия: </div>
                    <div id="surnameField" th:text="${client?.surname}"></div>
                </div>
                <div class="dataClient">
                    <div>Отчество: </div>
                    <div id="patronymicField" th:text="${client?.patronymic}"></div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer>
    <div id="contacts">Контактная информация</div>
</footer>
</body>
<script th:src="@{/js/script.js}"></script>
</html>