<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>BankAppWeb</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>
<div style="width: 100%; height: 35%; display: flex; justify-content: center; align-items: center; flex-direction: column;">
    <h2>Извините, страница не найдена</h2>
    <a href="/" style="color: gray;">На главную страницу</a>
</div>
</body>
</html>